<launch>
    <!-- 启动rviz仿真环境 -->
    <include file="$(find uuv_environment)/launch/start_env.launch" />
    <!-- 机器人描述 -->
    <param name="robot_description" 
           command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_0" />

    <group ns="uuv_0">
        <node pkg="uuv_control" type="uuv_control_node" name="simulation_core" output="screen">
            <param name="dynamics_plugin" value="uuv_control/FirstOrderDynamics" />
            <param name="controller_plugin" value="uuv_control/TeleopController" />

            <param name="dynamics_frequency" value="100.0" /> 
            <param name="controller_frequency" value="10.0" />  
            <param name="mass" value="50.0" />
            <param name="drag" value="5.0" />

            <param name="max_thrust" value="150.0" />
            <param name="max_torque" value="50.0" />
        </node>

        <node pkg="joy" type="joy_node" name="joy_node">
            <param name="dev" value="/dev/input/js0"/>
            <!-- <param name="deadzone" value="0.1" /> -->
        </node>
    </group>

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
        <param name="rate" value="100" />
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
        <param name="robot_description" value="/robot_description" />
    </node> 


</launch>