<launch>

    <arg name="uuv_name" default="uuv_0" />
    <arg name="dynamics_type" default="fossen" />
    <arg name="controller_type" default="pid" />
    <arg name="guidance_type" default="to_goal" />

    <include file="$(find uuv_environment)/launch/start_env.launch" />

    
    <group ns="$(arg uuv_name)">  
        <param name="robot_description" 
           command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' 
                    namespace:=$(arg uuv_name) 
                    dynamics_type:=$(arg dynamics_type)
                    controller_type:=$(arg controller_type) 
                    guidance_type:=$(arg guidance_type)" />  
        <node pkg="uuv_control" type="ControlNode" name="uuv_control_node" output="screen" clear_params="true" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <node pkg="joy" type="joy_node" name="joy_node" if="$(eval arg('controller_type') == 'teleop')">
            <param name="dev" value="/dev/input/js0"/>
        </node>
    </group>

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" if="$(eval arg('controller_type') == 'pid')"/>



</launch>