<launch>

    <arg name="dynamics_type"   default="FossenDynamics" />
    <arg name="actuator_type"   default="LauvActuator" />
    <arg name="controller_type" default="PidController" />


    <include file="$(find uuv_environment)/launch/start_env.launch" />
    
    <param name="robot_description" 
           command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_0" />

<!-- 载入UUV动力学插件需要的参数 -->
    <rosparam file="$(find uuv_control)/config/dynamics/$(arg dynamics_type).yaml" command="load" /> 
    <!-- 载入UUV执行器插件需要的参数 -->
    <rosparam file="$(find uuv_control)/config/actuators/$(arg actuator_type).yaml" command="load" />
    <!-- 载入UUV控制器插件需要的参数 -->
    <rosparam file="$(find uuv_control)/config/controllers/$(arg controller_type).yaml" command="load" />
    <!-- 载入 ControlNode节点需要的所有参数 -->
    <param name="dynamics_plugin"   value="uuv_control/$(arg dynamics_type)" />
    <param name="controller_plugin" value="uuv_control/$(arg controller_type)" />
    <rosparam param="sensor_plugins">
        - "uuv_sensor/Simple2DSonar"
    </rosparam>
    <param name="dynamics_frequency"   value="100.0" />
    <param name="controller_frequency" value="10.0" />

    <group ns="uuv_0">
        <node pkg="uuv_control" type="ControlNode" name="simulation_core" output="screen" />
    </group>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="joint_states" to="/uuv_0/joint_states" />
    </node>

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" />
    
</launch>