<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="insert_spacial_flocking_guidance" 
    params="update_rate:=100.0 
            publish_debug:=true 
            publish_debug_rate:=5.0 

            min_speed:=4.0 
            cruise_speed:=8.0
            max_speed:=10.0
            max_pitch_deg:=30.0
            t_ftotal:=2.0
            forward_tendency:=30.0
            speed_map_scale:=30.0

            zeta_p:=8.0
            zeta_v:=0.5
            nav_force_limit:=30.0

            zeta_n:=1.0
            delta_n:=30.0
            k_pull:=0.5
            r_comm:=80
            force_lp_gain:=0.2
            flock_force_limit:=2005
            delay_tau:=1.0
            max_delta_n:=100.0
            k_delay:=20.0
            est_window_size:=30

            d_sense:=202
            d_inflation:=5.5
            zeta_obs:=6.2
            delta_obs:=30.2
            num_sectors:=6
            range_zeta_norm:='0.3 1.5'
            range_zeta_tan:='0.23 3.5'

            "
    >
        <plugin layer="guidance" name="spacial_flocking_guidance" type="uuv_control/SpacialFlockingGuidance">
            <!-- ControlPluginBase的参数 -->
            <update_rate>${update_rate}</update_rate>
            <publish_debug>${publish_debug}</publish_debug>
            <publish_debug_rate>${publish_debug_rate}</publish_debug_rate>
            <!-- SpacialFlockingGuidance 特有的参数 -->
            <min_speed>${min_speed}</min_speed>
            <cruise_speed>${cruise_speed}</cruise_speed>
            <max_speed>${max_speed}</max_speed>
            <max_pitch_deg>${max_pitch_deg}</max_pitch_deg>
            <t_ftotal>${t_ftotal}</t_ftotal>
            <forward_tendency>${forward_tendency}</forward_tendency>
            <speed_map_scale>${speed_map_scale}</speed_map_scale>
            <!-- 导航力部分 -->
            <zeta_p>${zeta_p}</zeta_p>
            <zeta_v>${zeta_v}</zeta_v>
            <nav_force_limit>${nav_force_limit}</nav_force_limit>
            <!-- 邻居内力部分 -->
            <zeta_n>${zeta_n}</zeta_n>
            <delta_n>${delta_n}</delta_n>
            <k_pull>${k_pull}</k_pull>
            <r_comm>${r_comm}</r_comm>
            <t_ftotal>${t_ftotal}</t_ftotal>
            <force_lp_gain>${force_lp_gain}</force_lp_gain>
            <flock_force_limit>${flock_force_limit}</flock_force_limit>

            <delay_tau>${delay_tau}</delay_tau>
            <max_delta_n>${max_delta_n}</max_delta_n>
            <est_window_size>${est_window_size}</est_window_size>
            <k_delay>${k_delay}</k_delay>


            <!-- 避障力部分 -->
            <d_sense>${d_sense}</d_sense>
            <d_inflation>${d_inflation}</d_inflation>
            <zeta_obs>${zeta_obs}</zeta_obs>
            <delta_obs>${delta_obs}</delta_obs>
            <num_sectors>${num_sectors}</num_sectors>
            <range_zeta_norm>${range_zeta_norm}</range_zeta_norm>
            <range_zeta_tan>${range_zeta_tan}</range_zeta_tan>


        </plugin>
    </xacro:macro>
</robot>