<?xml version="1.0"?>
<launch>
  <group ns="group0">
    <node pkg="nodelet" type="nodelet" name="group0_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="state_aggregator" args="load uuv_control/StateAggregatorNodelet group0_manager">
      <param name="group_name" value="group0"/>
      <param name="start_global_id" value="0"/>
      <param name="uuv_count" value="10"/>
    </node>
  </group>
  <group ns="uuv_0">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_0 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="27.025"/>
    <param name="init_y" value="-8.103"/>
    <param name="init_z" value="-33.367"/>
    <param name="init_yaw" value="0.764"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_1">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_1 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-18.163"/>
    <param name="init_y" value="-14.343"/>
    <param name="init_z" value="-0.983"/>
    <param name="init_yaw" value="0.074"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_2">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_2 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-28.777"/>
    <param name="init_y" value="25.436"/>
    <param name="init_z" value="12.463"/>
    <param name="init_yaw" value="-2.537"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_3">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_3 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="14.739"/>
    <param name="init_y" value="15.196"/>
    <param name="init_z" value="5.701"/>
    <param name="init_yaw" value="1.413"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_4">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_4 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-40.316"/>
    <param name="init_y" value="-15.349"/>
    <param name="init_z" value="-1.913"/>
    <param name="init_yaw" value="0.720"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_5">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_5 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-10.625"/>
    <param name="init_y" value="-11.448"/>
    <param name="init_z" value="0.919"/>
    <param name="init_yaw" value="1.776"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_6">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_6 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-4.862"/>
    <param name="init_y" value="-22.145"/>
    <param name="init_z" value="-17.555"/>
    <param name="init_yaw" value="-1.183"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_7">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_7 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-11.272"/>
    <param name="init_y" value="-34.274"/>
    <param name="init_z" value="15.883"/>
    <param name="init_yaw" value="-3.057"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_8">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_8 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="32.114"/>
    <param name="init_y" value="-23.308"/>
    <param name="init_z" value="-6.602"/>
    <param name="init_yaw" value="-0.243"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_9">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_9 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="31.169"/>
    <param name="init_y" value="9.781"/>
    <param name="init_z" value="17.393"/>
    <param name="init_yaw" value="-2.866"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="group1">
    <node pkg="nodelet" type="nodelet" name="group1_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="state_aggregator" args="load uuv_control/StateAggregatorNodelet group1_manager">
      <param name="group_name" value="group1"/>
      <param name="start_global_id" value="10"/>
      <param name="uuv_count" value="10"/>
    </node>
  </group>
  <group ns="uuv_10">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_10 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-27.202"/>
    <param name="init_y" value="22.437"/>
    <param name="init_z" value="-4.075"/>
    <param name="init_yaw" value="-0.451"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_11">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_11 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-12.567"/>
    <param name="init_y" value="-36.269"/>
    <param name="init_z" value="-3.457"/>
    <param name="init_yaw" value="-1.998"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_12">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_12 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-6.631"/>
    <param name="init_y" value="-0.811"/>
    <param name="init_z" value="-28.380"/>
    <param name="init_yaw" value="3.111"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_13">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_13 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="11.625"/>
    <param name="init_y" value="34.839"/>
    <param name="init_z" value="12.706"/>
    <param name="init_yaw" value="1.331"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_14">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_14 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="3.048"/>
    <param name="init_y" value="-10.234"/>
    <param name="init_z" value="3.092"/>
    <param name="init_yaw" value="1.534"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_15">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_15 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-25.531"/>
    <param name="init_y" value="-5.790"/>
    <param name="init_z" value="14.340"/>
    <param name="init_yaw" value="0.133"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_16">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_16 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-18.900"/>
    <param name="init_y" value="-2.166"/>
    <param name="init_z" value="11.387"/>
    <param name="init_yaw" value="-1.126"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_17">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_17 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="19.512"/>
    <param name="init_y" value="31.799"/>
    <param name="init_z" value="-26.434"/>
    <param name="init_yaw" value="1.414"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_18">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_18 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-36.935"/>
    <param name="init_y" value="0.544"/>
    <param name="init_z" value="1.532"/>
    <param name="init_yaw" value="-2.027"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_19">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_19 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-13.807"/>
    <param name="init_y" value="35.922"/>
    <param name="init_z" value="-19.229"/>
    <param name="init_yaw" value="2.488"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="group2">
    <node pkg="nodelet" type="nodelet" name="group2_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="state_aggregator" args="load uuv_control/StateAggregatorNodelet group2_manager">
      <param name="group_name" value="group2"/>
      <param name="start_global_id" value="20"/>
      <param name="uuv_count" value="10"/>
    </node>
  </group>
  <group ns="uuv_20">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_20 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-13.435"/>
    <param name="init_y" value="5.441"/>
    <param name="init_z" value="11.857"/>
    <param name="init_yaw" value="2.244"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_21">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_21 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="34.550"/>
    <param name="init_y" value="16.230"/>
    <param name="init_z" value="12.353"/>
    <param name="init_yaw" value="-2.136"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_22">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_22 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="11.707"/>
    <param name="init_y" value="-9.486"/>
    <param name="init_z" value="0.142"/>
    <param name="init_yaw" value="2.844"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_23">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_23 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-2.642"/>
    <param name="init_y" value="-5.405"/>
    <param name="init_z" value="9.893"/>
    <param name="init_yaw" value="2.704"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_24">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_24 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="8.539"/>
    <param name="init_y" value="-21.689"/>
    <param name="init_z" value="-35.652"/>
    <param name="init_yaw" value="-2.332"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_25">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_25 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="39.037"/>
    <param name="init_y" value="28.802"/>
    <param name="init_z" value="7.045"/>
    <param name="init_yaw" value="-1.545"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_26">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_26 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="11.018"/>
    <param name="init_y" value="-11.505"/>
    <param name="init_z" value="21.213"/>
    <param name="init_yaw" value="0.823"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_27">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_27 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-20.643"/>
    <param name="init_y" value="-19.033"/>
    <param name="init_z" value="-20.622"/>
    <param name="init_yaw" value="2.636"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_28">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_28 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-30.399"/>
    <param name="init_y" value="38.457"/>
    <param name="init_z" value="-6.588"/>
    <param name="init_yaw" value="-0.712"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_29">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_29 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-22.165"/>
    <param name="init_y" value="29.370"/>
    <param name="init_z" value="-26.308"/>
    <param name="init_yaw" value="0.391"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_020427_count_30"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
</launch>