<?xml version="1.0"?>
<launch>
  <group ns="group0">
    <node pkg="nodelet" type="nodelet" name="group0_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="state_aggregator" args="load uuv_control/StateAggregatorNodelet group0_manager">
      <param name="group_name" value="group0"/>
      <param name="start_global_id" value="0"/>
      <param name="uuv_count" value="10"/>
    </node>
  </group>
  <group ns="uuv_0">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_0 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-25.751"/>
    <param name="init_y" value="-17.054"/>
    <param name="init_z" value="-70.842"/>
    <param name="init_yaw" value="1.991"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_1">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_1 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="27.586"/>
    <param name="init_y" value="-85.445"/>
    <param name="init_z" value="-23.783"/>
    <param name="init_yaw" value="-1.989"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_2">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_2 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-27.515"/>
    <param name="init_y" value="41.620"/>
    <param name="init_z" value="34.047"/>
    <param name="init_yaw" value="1.747"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_3">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_3 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="37.212"/>
    <param name="init_y" value="-59.868"/>
    <param name="init_z" value="-4.483"/>
    <param name="init_yaw" value="-0.411"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_4">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_4 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-80.679"/>
    <param name="init_y" value="25.740"/>
    <param name="init_z" value="-2.314"/>
    <param name="init_yaw" value="-1.135"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_5">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_5 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="47.296"/>
    <param name="init_y" value="-11.017"/>
    <param name="init_z" value="-83.013"/>
    <param name="init_yaw" value="-2.494"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_6">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_6 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-71.374"/>
    <param name="init_y" value="15.726"/>
    <param name="init_z" value="-37.819"/>
    <param name="init_yaw" value="3.109"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_7">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_7 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="33.897"/>
    <param name="init_y" value="-7.281"/>
    <param name="init_z" value="-75.823"/>
    <param name="init_yaw" value="1.694"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_8">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_8 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="39.602"/>
    <param name="init_y" value="79.411"/>
    <param name="init_z" value="41.731"/>
    <param name="init_yaw" value="-2.021"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_9">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_9 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="74.427"/>
    <param name="init_y" value="29.682"/>
    <param name="init_z" value="-47.403"/>
    <param name="init_yaw" value="1.352"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group0/group0_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="group1">
    <node pkg="nodelet" type="nodelet" name="group1_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="state_aggregator" args="load uuv_control/StateAggregatorNodelet group1_manager">
      <param name="group_name" value="group1"/>
      <param name="start_global_id" value="10"/>
      <param name="uuv_count" value="10"/>
    </node>
  </group>
  <group ns="uuv_10">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_10 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="2.245"/>
    <param name="init_y" value="-14.646"/>
    <param name="init_z" value="14.933"/>
    <param name="init_yaw" value="0.984"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_11">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_11 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="7.012"/>
    <param name="init_y" value="20.463"/>
    <param name="init_z" value="-60.105"/>
    <param name="init_yaw" value="2.335"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_12">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_12 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="3.698"/>
    <param name="init_y" value="-78.200"/>
    <param name="init_z" value="-26.584"/>
    <param name="init_yaw" value="-2.259"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_13">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_13 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-23.166"/>
    <param name="init_y" value="-38.192"/>
    <param name="init_z" value="67.962"/>
    <param name="init_yaw" value="0.881"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_14">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_14 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-12.909"/>
    <param name="init_y" value="-31.094"/>
    <param name="init_z" value="-73.240"/>
    <param name="init_yaw" value="-2.490"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_15">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_15 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="55.073"/>
    <param name="init_y" value="10.559"/>
    <param name="init_z" value="73.636"/>
    <param name="init_yaw" value="-1.264"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_16">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_16 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-32.503"/>
    <param name="init_y" value="-51.164"/>
    <param name="init_z" value="-29.980"/>
    <param name="init_yaw" value="-1.969"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_17">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_17 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="89.666"/>
    <param name="init_y" value="-3.519"/>
    <param name="init_z" value="-31.903"/>
    <param name="init_yaw" value="-0.452"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_18">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_18 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="26.683"/>
    <param name="init_y" value="-82.824"/>
    <param name="init_z" value="-7.947"/>
    <param name="init_yaw" value="0.417"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_19">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_19 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="68.807"/>
    <param name="init_y" value="-5.029"/>
    <param name="init_z" value="-67.930"/>
    <param name="init_yaw" value="2.890"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group1/group1_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="group2">
    <node pkg="nodelet" type="nodelet" name="group2_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="state_aggregator" args="load uuv_control/StateAggregatorNodelet group2_manager">
      <param name="group_name" value="group2"/>
      <param name="start_global_id" value="20"/>
      <param name="uuv_count" value="10"/>
    </node>
  </group>
  <group ns="uuv_20">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_20 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="37.338"/>
    <param name="init_y" value="11.057"/>
    <param name="init_z" value="16.295"/>
    <param name="init_yaw" value="-1.424"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_21">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_21 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-59.567"/>
    <param name="init_y" value="22.723"/>
    <param name="init_z" value="34.019"/>
    <param name="init_yaw" value="2.242"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_22">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_22 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-13.833"/>
    <param name="init_y" value="-54.539"/>
    <param name="init_z" value="50.598"/>
    <param name="init_yaw" value="0.799"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_23">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_23 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="68.102"/>
    <param name="init_y" value="41.617"/>
    <param name="init_z" value="-25.718"/>
    <param name="init_yaw" value="-0.939"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_24">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_24 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-13.790"/>
    <param name="init_y" value="-51.877"/>
    <param name="init_z" value="-41.164"/>
    <param name="init_yaw" value="2.415"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_25">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_25 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="42.258"/>
    <param name="init_y" value="-4.933"/>
    <param name="init_z" value="43.366"/>
    <param name="init_yaw" value="1.984"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_26">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_26 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-57.866"/>
    <param name="init_y" value="33.820"/>
    <param name="init_z" value="52.393"/>
    <param name="init_yaw" value="1.599"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_27">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_27 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-56.430"/>
    <param name="init_y" value="-40.341"/>
    <param name="init_z" value="-41.831"/>
    <param name="init_yaw" value="1.854"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_28">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_28 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="38.572"/>
    <param name="init_y" value="35.956"/>
    <param name="init_z" value="46.971"/>
    <param name="init_yaw" value="-0.838"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_29">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_29 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="4.251"/>
    <param name="init_y" value="79.148"/>
    <param name="init_z" value="-19.661"/>
    <param name="init_yaw" value="-3.121"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group2/group2_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="group3">
    <node pkg="nodelet" type="nodelet" name="group3_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="state_aggregator" args="load uuv_control/StateAggregatorNodelet group3_manager">
      <param name="group_name" value="group3"/>
      <param name="start_global_id" value="30"/>
      <param name="uuv_count" value="10"/>
    </node>
  </group>
  <group ns="uuv_30">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_30 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-74.419"/>
    <param name="init_y" value="-49.099"/>
    <param name="init_z" value="18.207"/>
    <param name="init_yaw" value="-1.540"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group3/group3_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_31">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_31 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="3.093"/>
    <param name="init_y" value="-41.169"/>
    <param name="init_z" value="61.899"/>
    <param name="init_yaw" value="-0.696"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group3/group3_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_32">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_32 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-77.409"/>
    <param name="init_y" value="16.105"/>
    <param name="init_z" value="-48.196"/>
    <param name="init_yaw" value="-1.537"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group3/group3_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_33">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_33 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="16.604"/>
    <param name="init_y" value="-3.890"/>
    <param name="init_z" value="13.801"/>
    <param name="init_yaw" value="-0.929"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group3/group3_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_34">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_34 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-60.642"/>
    <param name="init_y" value="5.637"/>
    <param name="init_z" value="62.329"/>
    <param name="init_yaw" value="2.916"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group3/group3_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_35">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_35 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="10.126"/>
    <param name="init_y" value="-36.599"/>
    <param name="init_z" value="0.129"/>
    <param name="init_yaw" value="-2.399"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group3/group3_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_36">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_36 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="75.192"/>
    <param name="init_y" value="18.644"/>
    <param name="init_z" value="24.282"/>
    <param name="init_yaw" value="-0.939"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group3/group3_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_37">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_37 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-5.181"/>
    <param name="init_y" value="33.919"/>
    <param name="init_z" value="-81.560"/>
    <param name="init_yaw" value="2.902"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group3/group3_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_38">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_38 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-16.595"/>
    <param name="init_y" value="93.693"/>
    <param name="init_z" value="-6.625"/>
    <param name="init_yaw" value="-0.639"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group3/group3_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_39">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_39 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-10.953"/>
    <param name="init_y" value="38.812"/>
    <param name="init_z" value="-72.811"/>
    <param name="init_yaw" value="0.641"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group3/group3_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="group4">
    <node pkg="nodelet" type="nodelet" name="group4_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="state_aggregator" args="load uuv_control/StateAggregatorNodelet group4_manager">
      <param name="group_name" value="group4"/>
      <param name="start_global_id" value="40"/>
      <param name="uuv_count" value="10"/>
    </node>
  </group>
  <group ns="uuv_40">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_40 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="20.823"/>
    <param name="init_y" value="31.367"/>
    <param name="init_z" value="-3.480"/>
    <param name="init_yaw" value="-0.115"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group4/group4_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_41">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_41 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="9.796"/>
    <param name="init_y" value="45.261"/>
    <param name="init_z" value="78.861"/>
    <param name="init_yaw" value="-2.827"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group4/group4_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_42">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_42 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="26.482"/>
    <param name="init_y" value="-79.120"/>
    <param name="init_z" value="15.400"/>
    <param name="init_yaw" value="-1.766"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group4/group4_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_43">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_43 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="32.604"/>
    <param name="init_y" value="78.227"/>
    <param name="init_z" value="51.267"/>
    <param name="init_yaw" value="1.388"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group4/group4_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_44">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_44 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-21.237"/>
    <param name="init_y" value="-26.151"/>
    <param name="init_z" value="-36.865"/>
    <param name="init_yaw" value="1.051"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group4/group4_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_45">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_45 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="62.900"/>
    <param name="init_y" value="-74.825"/>
    <param name="init_z" value="10.329"/>
    <param name="init_yaw" value="-1.976"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group4/group4_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_46">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_46 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-22.299"/>
    <param name="init_y" value="-76.762"/>
    <param name="init_z" value="11.780"/>
    <param name="init_yaw" value="0.522"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group4/group4_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_47">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_47 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-36.860"/>
    <param name="init_y" value="-83.961"/>
    <param name="init_z" value="23.229"/>
    <param name="init_yaw" value="-2.426"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group4/group4_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_48">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_48 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-92.465"/>
    <param name="init_y" value="-32.814"/>
    <param name="init_z" value="2.058"/>
    <param name="init_yaw" value="-1.482"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group4/group4_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
  <group ns="uuv_49">
    <param name="robot_description" command="$(find xacro)/xacro '$(find uuv_description)/urdf/lauv_model.xacro' namespace:=uuv_49 dynamics_type:=fossen controller_type:=pid guidance_type:=to_goal"/>
    <param name="init_x" value="-0.588"/>
    <param name="init_y" value="-70.079"/>
    <param name="init_z" value="-14.105"/>
    <param name="init_yaw" value="1.938"/>
    <param name="control_level" value="guidance"/>
    <param name="log_dir" value="/home/zx567/rvizuuv3d/auuv_logs/swarm_20260302_030937_count_50"/>
    <param name="visual_rate" value="20.0"/>
    <node pkg="nodelet" type="nodelet" name="uuv_control" args="load uuv_control/ControlNodelet /group4/group4_manager" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp" />
  </group>
</launch>