#!/usr/bin/env python
# -*- coding: utf-8 -*-

PACKAGE = "uuv_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# 参数名, 类型, 级别(一般为0), 描述, 默认值, 最小值, 最大值
# 1. 航速 Surge (u)
gen.add("kp_u", double_t, 0, "Kp for surge", 50.0, 0.0, 500.0)
gen.add("ki_u", double_t, 0, "Ki for surge", 5.0, 0.0, 100.0)
gen.add("kd_u", double_t, 0, "Kd for surge", 10.0, 0.0, 100.0)
gen.add("max_output_u", double_t, 0, "Max force X", 100.0, 0.0, 5000.0)
gen.add("max_integral_u", double_t, 0, "Max integral surge", 20.0, 0.0, 1000.0)

# 2. 俯仰 Pitch 外环
gen.add("kp_pitch", double_t, 0, "Kp for pitch", 1.0, 0.0, 500.0)
gen.add("ki_pitch", double_t, 0, "Ki for pitch", 0.0, 0.0, 100.0)
gen.add("kd_pitch", double_t, 0, "Kd for pitch", 0.0, 0.0, 100.0)
gen.add("max_output_pitch", double_t, 0, "Max q", 1.0, 0.0, 1000.0)
gen.add("max_integral_pitch", double_t, 0, "Max integral pitch", 0.0, 0.0, 1000.0)

# 3. 俯仰 q 内环
gen.add("kp_q", double_t, 0, "Kp for q", 51.0, 0.0, 500.0)
gen.add("ki_q", double_t, 0, "Ki for q", 14.0, 0.0, 100.0)
gen.add("kd_q", double_t, 0, "Kd for q", 6.0, 0.0, 100.0)
gen.add("max_output_q", double_t, 0, "Max torque Y", 80.0, 0.0, 1000.0)
gen.add("max_integral_q", double_t, 0, "Max integral q", 13.0, 0.0, 1000.0)

# 4. 偏航 Yaw
gen.add("kp_yaw", double_t, 0, "Kp for yaw", 1.0, 0.0, 500.0)
gen.add("ki_yaw", double_t, 0, "Ki for yaw", 0.0, 0.0, 100.0)
gen.add("kd_yaw", double_t, 0, "Kd for yaw", 0.0, 0.0, 100.0)
gen.add("max_output_yaw", double_t, 0, "Max torque Z", 0.8, 0.0, 1000.0)
gen.add("max_integral_yaw", double_t, 0, "Max integral yaw", 0.0, 0.0, 1000.0)

# 5. 偏航 r 内环
gen.add("kp_r", double_t, 0, "Kp for r", 55.0, 0.0, 500.0)
gen.add("ki_r", double_t, 0, "Ki for r", 14.0, 0.0, 100.0)
gen.add("kd_r", double_t, 0, "Kd for r", 6.0, 0.0, 100.0)
gen.add("max_output_r", double_t, 0, "Max torque Z", 32.0, 0.0, 1000.0)
gen.add("max_integral_r", double_t, 0, "Max integral r", 15.0, 0.0, 1000.0)

# 生成头文件 (包名, 节点名, 配置文件前缀)
exit(gen.generate(PACKAGE, "uuv_control", "PidController"))